span.manager-move-link {
	display: inline-block;
	cursor: pointer;
	height: 16px;
	width: 16px;
	border: 0px;
}

span.manager-delete-link {
	cursor: pointer;
}

span.up-on {
	background-image: url('../images/icons/ArrowUp.png');
}

span.up-off {
	background-image: url('../images/icons/ArrowUp_off.png');
	cursor: default;
}

span.down-on {
	background-image: url('../images/icons/ArrowDown.png');
}

span.down-off {
	background-image: url('../images/icons/ArrowDown_off.png');
	cursor: default;
}

input.manager_info
{
	width: 225px;
}

#addManagerButton, span.removeManagerButton{
	cursor: pointer;
}

p.errorDescription
{
	display: none;
}

input.error
{
	font-weight: bold;
	border: 1px solid #DB0037;
	background-color: #FCDEE6;
}