.enter_pick label {
	display: inline-block;
	width: 110px;
	font-weight: bold;
	text-align: right;
}

.enter_pick input.button {
	margin-left: 110px;
	width: 300px;
	height: 60px;
	font-weight: bold;
	font-size: 20px;
    border-radius: 6px;
    background-color: #6CBB3C;
}

.enter_pick select, input {
	width: 300px;
}

#clearButton {
    margin-left: 200px;
    margin-top: 20px;
    width: 100px;
    border-radius: 5px;
    background-color: #FFDB58;
}

p.round {
	background-color: #DDDDDD;
}
