#back-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 45px;
  filter: alpha(opacity=15);
  opacity: 0.15;
  cursor: pointer;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  z-index: 3;
}

#back-button:hover {
  filter: alpha(opacity=100);
  opacity: 1.0;
}

#draft-board {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  font-family: "Arial",sans-serif;
}

#draft-board div.row {
  clear: left;
}

#draft-board div.row div.round-number {
  width: 50px;
  height: 100px;
  float: left;
  font-size: 40px;
  line-height: 100px;
  color: #000;
  filter: alpha(opacity=15);
  opacity: 0.15;
  padding-right: 5px;
  text-align: right;
}

#draft-board div.row div.pick {
  width: 159px;
  height: 99px;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  float: left;
  position: relative;
  font-size: 12px;
  z-index: 0;
  box-sizing: border-box;
}

#draft-board div.row div.pick div.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 100px;
  z-index: 2;
  background-color: #FFD800;
  opacity: 0.85;
}

#draft-board div.row:last-child div.pick {
  border-bottom: 1px solid #000;
}

#draft-board div.row div.pick:last-child {
  border-right: 1px solid #000;
}

#draft-board div.row div.pick span.pick-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 154px;
  padding-right: 5px;
  text-align: right;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  filter: alpha(opacity=15);
  opacity: 0.15;
  line-height: 32px;
  z-index: 1;
}

#draft-board div.row div.pick span.last-name {
  display: block;
  font-size: 21px;
  font-weight: bold;
  color: #000;
}

#draft-board div.row div.pick span.first-name {
  display: block;
  font-size: 16px;
  margin-top: 3px;
  color: #000;
}

#draft-board div.row div.pick span.manager {
  display: block;
  color: #000;
  margin-top: 2px;
  font-size: 15px;
  filter: alpha(opacity=60);
  opacity: 0.60;
}

#draft-board div.row div.pick.undrafted span.manager {
  display: none;
  font-size: 18px;
  font-weight: bold;
}

#draft-board div.row div.pick span.position {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45%;
  margin: 0 0 2px 3px;
  text-align: left;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  filter: alpha(opacity=60);
  opacity: 0.60;
}

#draft-board div.row div.pick span.team {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45%;
  margin: 0 3px 2px 0;
  text-align: right;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  filter: alpha(opacity=60);
  opacity: 0.60;
}

#pickTimerDialog .timesUpMessage {
    color: #7F0000;
    font-size: 20px;
}

#pickTimerDialog .timesUpMessage .manager-name {
    font-weight: bold;
    font-style: italic;
}