label {
	display: inline-block;
	width: 110px;
	font-weight: bold;
	text-align: right;
}

input.button {
	margin-left: 110px;
	width: 300px;
	height: 60px;
	font-weight: bold;
	font-size: 16px;
}

select, input {
	width: 300px;
}

p.round {
	background-color: #DDDDDD;
}