div.manager_1
{
	width: 48%;
	text-align: right;
	float: left;
}
div.manager_2
{
	width: 48%;
	text-align: left;
	float: right;
}
#trade_box {
	min-height: 300px;
}
div.managerPlayers {
	text-align: left;
	margin-top: 25px;
}
div.managerPlayers label {
	display: block;
	width: 300px;
	height: 10px;
	font-size: 12px;
	font-weight: bold;
	font-family: verdana;
	cursor: pointer;
}
div.managerPlayers input {
	vertical-align: bottom;
	cursor: pointer;
}

div.managerPlayers label.selected {
	font-size: 18px;
	font-weight: bold;
	color: #009900;
}

#manager1Players {
	text-align: right;
}
#manger2Players {
	text-align: left;
}
#manager1Players label {
	padding-right: 20px;
	text-indent: -15px;
	line-height: 1.0;
}
#manager2Players label {
	padding-left: 25px;
	text-indent: 15px;
	line-height: 1.0;
}
#manager1Players input {
	float: right;
}
#manager2Players input {
	float: left;
}
div.button_box {
	clear: both;
	margin-bottom: 10px;
	text-align: center;
}