<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="appsettings.php">
      <system.web>
        <authorization>
          <deny users="*"/>
        </authorization>
      </system.web>
    </location>
    <system.webServer>
        <rewrite>
          <!--This directive was not converted because it is not supported by IIS: RewriteBase /phpdraft.-->
          <rules>
          <!-- Force HTTPS Rule -->
            <rule name="Redirect to https" stopProcessing="true">
              <match url="(.*)" />
              <conditions>
                <add input="{HTTPS}" pattern="off" ignoreCase="true" />
              </conditions>
              <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
            </rule>
            <!-- API Rules -->
            <rule name="API Rule 1" stopProcessing="true">
              <match url="^api/((?!bootstrap\.php$).+)$" />
              <action type="Rewrite" url="api/bootstrap.php" />
            </rule>
            <!-- AngularJS Rules -->
            <rule name="AngularJS Rule 1" stopProcessing="true">
              <match url="^index\.html$" ignoreCase="false" />
              <action type="None" />
            </rule>
            <rule name="AngularJS Rule 2" stopProcessing="true">
              <match url="^" ignoreCase="false" />
              <conditions logicalGrouping="MatchAny">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" />
              </conditions>
              <action type="None" />
            </rule>
            <rule name="AngularJS Rule 3" stopProcessing="true">
              <match url="^(.*)$" ignoreCase="false" />
              <action type="Rewrite" url="index.html" />
            </rule>
          </rules>
        </rewrite>
    </system.webServer>
</configuration>