span.draft-sport {
  min-width: 75px;
  display: inline-block;
  font-size: 80%;
  line-height: 16px;
  color: #ffffff;
  background-color: #767676;

  &.label-NFL {background-color: #f2711c;}
  &.label-NFLE {background-color: #a333c8;}
  &.label-MLB {background-color: #2185d0;}
  &.label-NBA {background-color: #21ba45;}
  &.label-NHL {background-color: #e03997;}
  &.label-S15 {background-color: #a5673f;}
  &.label-remove {background-color: #db2828;}
}

span.draft-status {
  min-width: 75px;
  display: inline-block;
  font-size: 80%;
  line-height: 16px;
  color: #ffffff;
  background-color: #767676;

  &.label-complete {background-color: #5cb85c;}
  &.label-in_progress {background-color: #5bc0de;}
  &.label-undrafted {background-color: #f0ad4e;}
  &.label-remove {background-color: #db2828;}
}

span.draft-user-enabled {
  min-width: 75px;
  display: inline-block;
  font-size: 80%;
  line-height: 16px;
  color: #FFFFFF;
  background-color: #767676;

  &.label-0 {background-color: #f2711c;}
  &.label-1 {background-color: #21ba45;}
  &.label-remove {background-color: #db2828;}
}

phpd-commish-actions{
  div.panel-body {
    padding: 5px;

    button, a {
      margin-bottom: 15px;
      margin-top: 10px;

      &:hover {
        box-shadow: 2px 3px 10px #666;
      }
    }
  }
}

div.draft_order {
  h2.order_number {
    display: inline-block;
    margin-right: 8px;
    margin-top: 10px;
    width: 80px;
  }

  h3.manager_name {
    display: inline;
  }
}

ul.draft_order {
  padding: 0;
  min-height: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  li {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    user-select: none;
    cursor: -moz-grab; cursor: -webkit-grab; cursor: grab;
    position: relative;
    border: 1px solid rgba(0,0,0,0.25);
    background: rgba(255,255,255, 0.75);
    display: block;
    padding-bottom: 10px;
    padding-right: 0;

    h2.order_number {
      display: inline-block;
      width: 80px;
      user-select: none;
    }

    h3.manager_name {
      user-select: none;
      display: inline-block;

      &.edit {
        margin-top: 15px;
        margin-bottom: 10px;

        input {
          height: 40px;
          font-size: 20px;
          padding-left: 6px;
          padding-right: 6px;
        }
      }
    }

    h3.action_items {
      padding-right: 0;
      font-size: 18px;

      i.fa {
        margin-left: 10px;
        cursor: pointer;

        &[disabled] {
          color: #BBB;
          cursor: default;
        }
      }
    }

    i.fa {
      cursor: pointer !important;
    }

    &.slip-reordering {
      box-shadow: 4 4px 10px rgba(0,0,0,0.45);
      background: fade(@navbar-inverse-brand-hover-color, 60%);
      z-index: 1;
    }

    &.slip-reordering, &.slip-reordering * {
      cursor: -moz-grabbing; cursor: -webkit-grabbing; cursor: grabbing;
    }
  }

  &.randomization {
    .ng-hide-remove {
      animation: 0.80s bounceInDown ease;
    }
  }
}

ul.round-pager {
  margin-top: 3px;
  margin-bottom: 5px;

  li {
    a {
      .btn-primary;
      width: 45%;
    }

    &.disabled {
      display: none;
    }
  }
}

div.manager-form-group {
  margin-bottom: 3px;

  select {
    font-size: 18px;
    font-weight: bold;
  }
}

input.timer-minutes, input.timer-seconds {
  width: 70px;
  line-height: 30px;
  height: 34px;
  padding: 1px 12px;
  font-size: 18px;
}

ul.depth_chart_positions {
  li {
    list-style: none;
    padding: 0 15px 0 0;

    i {
      cursor: pointer;
    }

    input.position {
      .form-control;
      width: 60%;
      display: inline-block !important;
    }

    input.slots {
      .form-control;
      width: 25%;
      display: inline-block !important;
    }
  }
}

span.position-slots {
  display: inline-block;
  width: 30px;
}

.btn-warning {
  border: 1px solid darken(@brand-warning, 25%);

  &:hover {
    border: 1px solid darken(@brand-warning, 25%);
  }
}

ul.dropdown-menu.label-menu {
  min-width: 250px;

  a {
    margin: 3px;
    display: inline-block;
  }
}
