span.draft-status {
  width: 70px;
  display: inline-block;
}

div.draft_order {
  h2.order_number {
    display: inline-block;
    margin-right: 8px;
    margin-top: 10px;
    width: 80px;
  }

  h3.manager_name {
    display: inline;
  }
}

ul.draft_order {
  padding: 0;
  min-height: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  li {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    user-select: none;
    cursor: move;
    position: relative;
    border: 1px solid rgba(0,0,0,0.25);
    display: block;
    padding-bottom: 10px;

    h2.order_number {
      display: inline-block;
      width: 80px;
      user-select: none;
    }

    h3.manager_name {
      user-select: none;
      display: inline-block;
    }

    &.slip-reordering {
      box-shadow: 0 2px 10px rgba(0,0,0,0.45);
    }
  }
}

div.pick-list-display, div.asset-display {
  div.pick, div.trade.pick {
    box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.25);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin: 3px 0;
    padding: 5px 0;
    display: block;

    .pick-data {
      padding-left: 0;
      padding-right: 5px;
      .text-center;

      .pick-number {
        .h3;
        margin-top: 0;
        margin-bottom: 0;
      }

      .round-number {
        .h4;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .player-data {
      padding-left: 5px;
      padding-right: 0;

      .first-name-xs {
        .h4;
        margin-top: 0;
        margin-bottom: 0;
      }

      .last-name-xs {
        .h2;
        margin-top: 0;
        margin-bottom: 0;
      }

      .player-name-sm {
        .h3;
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
      }

      .asset-name {
        .h3;
        margin-top: 0;
        margin-bottom: 0;
      }

      .asset-player {
        .h4;
        margin-top: 0;
        margin-bottom: 0;
      }

      .sport-data {
        .h4;
        margin-top: 0px;
        margin-bottom: 3px;
      }

      .manager {
        .h4;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
      }

      .on-clock {
        .h4;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  
  small {
    color: #000 !important;
  }

  div.pick.unselected {
    background-color: #CCC;

    &.active {
      .bg-secondary;
    }

    .manager-sm {
      .h2;
      margin-top: 5px;
      margin-bottom: 0;
    }

    .manager-xs {
      .h3;
      margin-top: 5px;
      margin-bottom: 0;
    }
  }
}

ul.round-pager {
  margin-top: 3px;
  margin-bottom: 5px;
}

div.manager-form-group {
  margin-bottom: 3px;

  select {
    font-size: 18px;
    font-weight: bold;
  }
}