<div data-ng-cloak>
  <div class="container-fluid">
    <div class="row">
      <div class="hidden-xs hidden-sm col-md-1">&nbsp;</div>
      <div class="col-xs-12 col-sm-12 col-md-10">
        <h2 class="text-center">Update User Profile</h2>
      </div>
      <div class="hidden-xs hidden-sm col-md-1">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-xs-1 col-sm-2 col-md-3">&nbsp;</div>
      <div class="col-xs-10 col-sm-8 col-md-6">
        <form class="form-horizontal" name="editProfileCtrl.form">
          <fieldset>
            <div class="row">
              <div class="col-xs-12 v-offset-2">
                <div class="form-group" show-errors>
                  <div class="col-xs-3 text-right text-right">
                    <label class="control-label" for="email">
                      <span class="text-danger">*</span>&nbsp;Email
                    </label>
                  </div>
                  <div class="col-xs-8">
                    <input name="email" ng-model="editProfileCtrl.userProfile.email" type="email" class="form-control" maxlength="255" ng-required="true" placeholder="Email" autofocus />
                    <div ng-show="editProfileCtrl.form.$submitted || editProfileCtrl.userProfile.email.$touched">
                      <span ng-show="editProfileCtrl.userProfile.email.$error.required" class="help-block">Email is missing</span>
                      <span ng-show="editProfileCtrl.userProfile.email.$error.email" class="help-block">Email is invalid</span>
                      <span ng-show="editProfileCtrl.userProfile.email.$error.maxlength" class="help-block">Email is too long</span>
                    </div>
                  </div>
                  <div class="col-xs-1 text-center">
                    <i class="fa fa-info-circle" uib-tooltip="You must choose an email that hasn't been used for other commish accounts. If you change the email address your account is associated with, you'll need access to that account in order to verify the address." tooltip-trigger="mouseenter"  tooltip-append-to-body="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 v-offset-2">
                <div class="form-group" show-errors>
                  <div class="col-xs-3 text-right">
                    <label class="control-label" for="name">
                      <span class="text-danger">*</span>&nbsp;Name
                    </label>
                  </div>
                  <div class="col-xs-8">
                    <input name="name" ng-model="editProfileCtrl.userProfile.name" class="form-control" maxlength="255" ng-required="true" placeholder="Your name (for display)" />
                    <div ng-show="editProfileCtrl.form.$submitted || editProfileCtrl.userProfile.name.$touched">
                      <span ng-show="editProfileCtrl.userProfile.name.$error.required" class="help-block">Name is missing</span>
                      <span ng-show="editProfileCtrl.userProfile.name.$error.minlength" class="help-block">Name is too short</span>
                      <span ng-show="editProfileCtrl.userProfile.name.$error.maxlength" class="help-block">Name is too long</span>
                    </div>
                  </div>
                  <div class="col-xs-1 text-center">
                    <i class="fa fa-info-circle" uib-tooltip="Choose a nickname or a name you're commonly referred to as - this is what the other managers in your league will use to find your drafts. Cannot use the same name as any other commissioners." tooltip-trigger="mouseenter" tooltip-append-to-body="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 v-offset-1">
                <div class="form-group" show-errors>
                  <div class="col-xs-3 text-right">
                    <label class="control-label" for="password">
                      <span class="text-danger">*</span>&nbsp;Password
                    </label>
                  </div>
                  <div class="col-xs-6">
                    <input name="password" ng-model="editProfileCtrl.userProfile.password" uib-tooltip="Capslock is on" tooltip-trigger="focus" tooltip-enable="isCapsLockOn" class="form-control" minlength="8" maxlength="255" type="{{editProfileCtrl.passwordInputType()}}" ng-required="true" placeholder="Password" />
                    <div ng-show="editProfileCtrl.form.$submitted || editProfileCtrl.userProfile.password.$touched">
                      <span ng-show="editProfileCtrl.userProfile.password.$error.required" class="help-block">Password is missing</span>
                      <span ng-show="!editProfileCtrl.userProfile.password.$error.required && editProfileCtrl.form.password.$error.minlength" class="help-block">Password is too short - 8 characters minimum</span>
                      <span ng-show="editProfileCtrl.userProfile.password.$error.maxlength" class="help-block">Password is too long</span>
                    </div>
                  </div>
                  <div class="col-xs-1 col-xs-offset-2 text-center">
                    <i class="fa fa-info-circle" uib-tooltip="Before you can update your profile info, we ask that you provide your current password as an extra security measure for your account. You can supply a new password in the next 2 boxes if you wish to change it - otherwise leave them blank to keep your same password." tooltip-trigger="mouseenter" tooltip-append-to-body="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 v-offset-1">
                <div class="form-group" show-errors>
                  <div class="col-xs-3 text-right">
                    <label class="control-label" for="newPassword">
                      New Password
                    </label>
                  </div>
                  <div class="col-xs-6">
                    <input id="newPassword" name="newPassword" ng-model="editProfileCtrl.userProfile.newPassword" uib-tooltip="Capslock is on" tooltip-trigger="focus" tooltip-enable="isCapsLockOn" class="form-control" minlength="8" maxlength="255" type="{{editProfileCtrl.passwordInputType()}}" placeholder="Enter your new password" />
                    <div ng-show="editProfileCtrl.form.$submitted || editProfileCtrl.userProfile.newPassword.$touched">
                      <span ng-show="!editProfileCtrl.userProfile.newPassword.$error.required && editProfileCtrl.userProfile.newPassword.$error.minlength" class="help-block">New password is too short - 8 characters minimum</span>
                      <span ng-show="editProfileCtrl.userProfile.newPassword.$error.maxlength" class="help-block">New password is too long</span>
                    </div>
                  </div>
                  <div class="col-xs-3 text-right">
                    <toggle-switch name="showPassword" ng-model="showPassword" knob-label="Show"></toggle-switch>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 v-offset-1">
                <div class="form-group" show-errors>
                  <div class="col-xs-3 text-right">
                    <label class="control-label" for="newConfirmedPassword">
                      Confirm New Password
                    </label>
                  </div>
                  <div class="col-xs-6">
                    <input id="newConfirmedPassword" name="newConfirmedPassword" uib-tooltip="Capslock is on" tooltip-trigger="focus" tooltip-enable="isCapsLockOn" ng-model="editProfileCtrl.userProfile.newConfirmedPassword" class="form-control" minlength="8" maxlength="255" type="{{editProfileCtrl.passwordInputType()}}" placeholder="Confirm your new password" match="editProfileCtrl.userProfile.newPassword" />
                    <div ng-show="editProfileCtrl.form.$submitted || editProfileCtrl.userProfile.newConfirmedPassword.$touched">
                      <span ng-show="editProfileCtrl.userProfile.newConfirmedPassword.$error.required" class="help-block">You must confirm your new password</span>
                      <span ng-show="editProfileCtrl.userProfile.newConfirmedPassword.$error.match" class="help-block">New passwords do not match.</span>
                    </div>
                  </div>
                  <div class="col-xs-1 col-xs-offset-2 text-center">
                    <i class="fa fa-info-circle" uib-tooltip="Tip: only provide a new password if you wish to change your current password. If you lose your password in the future, we can help you set a new one with the forgotten password process (available on the login screen)" tooltip-trigger="mouseenter" tooltip-append-to-body="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-xs-offset-3 text-center v-offset-2">
                <button type="submit" class="btn btn-primary btn-block" ng-click="editProfileCtrl.submitClicked()" ng-submit="editProfileCtrl.submitClicked()" ng-disabled="editProfileCtrl.profileFormIsInvalid()">
                  <i class="fa fa-floppy-o"></i>&nbsp;&nbsp;
                  Update User Profile
                </button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="col-xs-1 col-sm-2 col-md-3">&nbsp;</div>
    </div>
  </div>
</div>

  