<div data-ng-cloak>
  <div class="container-fluid" ng-show="showErrorInformation">
    <div class="row">
      <div class="col-xs-1 col-sm-2 col-md-3">&nbsp;</div>
      <div class="col-xs-10 col-sm-8 col-md-6">
        <h2 class="text-center">Verification Failed</h2>
        <p>
          <strong>Whoops!</strong>
        </p>
        <p>
          Looks like something went awry - we weren't able to verify your account.
        </p>
        <p>
          Are you sure your account needs verified? Maybe try logging in and see if you can.
        </p>
        <p>
          If you continue having issues, contact the site administrator for help.
        </p>
      </div>
      <div class="col-xs-1 col-sm-2 col-md-3">&nbsp;</div>
    </div>
  </div>
</div>

  