<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <i class="fa fa-info"></i>&nbsp;&nbsp;
      League Details
    </h3>
  </div>
  <div class="panel-body">
    <div class="form-horizontal display-only-form">
      <div class="form-group">
        <div class="col-xs-5 control-label">
          <strong>League Name</strong>:
        </div>
        <div class="col-xs-7">
          <div class="form-control-static">{{draft.draft_name}}</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-5 control-label">
          <strong>Commissioner</strong>:
        </div>
        <div class="col-xs-7">
          <div class="form-control-static">{{draft.commish_name}}</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-5 control-label">
          <strong>Fantasy Sport</strong>:
        </div>
        <div class="col-xs-7">
          <div class="form-control-static">{{draft.sports[draft.draft_sport]}}</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-5 control-label">
          <strong>Draft Status</strong>:
        </div>
        <div class="col-xs-7">
          <div class="form-control-static">{{draft.statuses[draft.draft_status]}}</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-5 control-label">
          <strong>Draft Style</strong>:
        </div>
        <div class="col-xs-7">
          <div class="form-control-static">{{draft.styles[draft.draft_style]}}</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-5 control-label">
          <strong># of Rounds</strong>:
        </div>
        <div class="col-xs-7">
          <div class="form-control-static">{{draft.draft_rounds}}</div>
        </div>
      </div>
    </div>
  </div>
</div>