<div class="row" ng-show="draftValid && draft.complete">
  <div class="hidden-xs hidden-sm col-md-1">&nbsp;</div>
  <div class="col-xs-12 col-sm-6 col-md-5">
    <draft-information draft=draft></draft-information>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-5">
    <div class="panel panel-primary panel-no-border">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-ellipsis-v"></i>&nbsp;&nbsp;
          Round {{selectedDraftRound}} Picks
        </h3>
      </div>
      <div class="panel-body pick-list-display">
        <section-loading show-loading=lastLoading></section-loading>
        <section-error show-error=lastError section-name="round {{selectedDraftRound}} picks"></section-error>
        <picks-by-round draft=draft
          selected-draft-round=selectedDraftRound
          picks=roundPicks
          pager-item-tally=pagerItemTally>
        </picks-by-round>
      </div>
    </div>
  </div>
  <div class="hidden-xs hidden-sm col-md-1">&nbsp;</div>
</div>