<div class="row" ng-show="draftValid && draft.setting_up">
  <div class="hidden-xs hidden-sm col-md-1">&nbsp;</div>
  <div class="col-xs-12 col-sm-6 col-md-5">
    <draft-information draft=draft></draft-information>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-sort-amount-asc"></i>&nbsp;&nbsp;
          Draft Order
        </h3>
      </div>
      <div class="panel-body">
        <div class="list-group draft_order">
          <div class="list-group-item" ng-repeat="manager in managers">
            <h2 class="order_number"><strong>{{manager.draft_order}}</strong></h2>
            <h3 class="manager_name">{{manager.manager_name}}</h3>
          </div>
          <div class="list-group-item" ng-show="managers.length == 0">
            <h3><strong>{{draft.commish_name}}</strong> has not added any managers yet.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden-xs hidden-sm col-md-1">&nbsp;</div>
</div>