<div class="modal-header">
  <h2>Add Managers</h2>
</div>
<div class="modal-body form-horizontal">
  <div class="row">
    <div class="col-xs-12">
      <h4>Add up to 20 (total) managers for your league's draft.</h4>
    </div>
  </div>
  <form novalidate>
    <div class="form-group" ng-repeat="manager in addManagersCtrl.editableManagers">
      <div class="col-xs-3 control-label">
        <strong>Manager Name:</strong>
      </div>
      <div class="col-xs-8">
        <input ng-model="addManagersCtrl.editableManagers[$index].manager_name" class="form-control" maxlength="255" placeholder="Manager {{$index}}'s Name" />
      </div>
      <div class="col-xs-1">
        <span class="clickable fa-stack" ng-click="addManagersCtrl.removeManager($index)">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-minus fa-stack-1x fa-inverse"></i>
        </span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-2 col-xs-offset-3">
        <button class="btn btn-block btn-success" ng-click="addManagersCtrl.addEmptyManager()">
          <i class="fa fa-plus"></i>&nbsp;&nbsp;Add
        </button>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addManagersCtrl.addManagers()" ng-submit="addManagersCtrl.addManagers()">Save</button>
  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addManagersCtrl.cancel()">Cancel</button>
</div>