<div class="modal-header">
  <h2>Edit User</h2>
</div>
<div class="modal-body form-horizontal">
  <form class="form-horizontal" name="modalCtrl.form">
    <div class="row">
      <div class="col-xs-12 v-offset-2">
        <div class="form-group" show-errors>
          <div class="col-xs-3 text-right text-right">
            <label class="control-label" for="email">
              Email
            </label>
          </div>
          <div class="col-xs-9">
            <input name="email" ng-model="modalCtrl.user.email" type="email" class="form-control" maxlength="255" ng-required="true" placeholder="Email" autofocus />
            <div ng-show="modalCtrl.form.$submitted || modalCtrl.user.email.$touched">
              <span ng-show="modalCtrl.user.email.$error.required" class="help-block">Email is missing</span>
              <span ng-show="modalCtrl.user.email.$error.email" class="help-block">Email is invalid</span>
              <span ng-show="modalCtrl.user.email.$error.maxlength" class="help-block">Email is too long</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 v-offset-2">
        <div class="form-group" show-errors>
          <div class="col-xs-3 text-right">
            <label class="control-label" for="name">
              Name
            </label>
          </div>
          <div class="col-xs-9">
            <input name="name" ng-model="modalCtrl.user.name" class="form-control" maxlength="255" ng-required="true" placeholder="Your name (for display)" />
            <div ng-show="modalCtrl.form.$submitted || modalCtrl.user.name.$touched">
              <span ng-show="modalCtrl.user.name.$error.required" class="help-block">Name is missing</span>
              <span ng-show="modalCtrl.user.name.$error.minlength" class="help-block">Name is too short</span>
              <span ng-show="modalCtrl.user.name.$error.maxlength" class="help-block">Name is too long</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 v-offset-2">
        <div class="form-group" show-errors>
          <div class="col-xs-offset-3 col-xs-9">
            <toggle-switch name="enabled" ng-model="modalCtrl.user.enabled" knob-label="Enable"></toggle-switch>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 v-offset-2">
          <div class="form-group checkbox" show-errors>
            <!-- <label class="col-xs-3 text-right control-label">
              Roles
            </label> -->
            <div class="col-xs-9 col-xs-offset-3">
              <!-- <select class="form-control"
                multiple
                multiselect-dropdown
                ng-multiple="true"
                ng-options="roleDisplay.value as roleDisplay.label for roleDisplay in modalCtrl.roleDisplays"
                ng-model="modalCtrl.selectedRoles"
              >
              </select> -->
              <label>
                <input type="checkbox" ng-model="modalCtrl.userIsAdmin"> Full Site Administrator
              </label><br/>
              <label>
                <input type="checkbox" ng-model="modalCtrl.userIsCommish"> Commissioner
              </label>

              <!-- <button type="button" class="btn btn-default" ng-model="modal.selectedRoles" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in modalCtrl.roleDisplays" bs-select>
                <ACRONYM></ACRONYM>tion <span class="caret"></span>
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="modalCtrl.saveUser()" ng-submit="modalCtrl.saveUser()">Save</button>
  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="modalCtrl.cancel()">Cancel</button>
</div>