<div class="modal-header">
  <button type="button" class="close" ng-click="modalCtrl.cancelClicked()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h2 class="modal-title">Draft is password protected</h2>
</div>
<div class="modal-body">
  <p>This draft is password protected by its commissioner. Enter the password if you know it:</p>
  <p ng-show="modalCtrl.isUnauthenticated()"><em>If you are the commissioner of this draft, <a href="#" ng-click="modalCtrl.gotoLogin()">login to PHPDraft</a> to make this message go away.</em></p>
  <form class="form-horizontal" name="modalCtrl.form">
    <div class="row">
      <div class="col-xs-3 text-right text-right">
        <label class="control-label" for="password">
          Draft Password
        </label>
      </div>
      <div class="col-xs-9">
        <input name="password" ng-model="modalCtrl.password" class="form-control" maxlength="255" type="text" ng-required="true" placeholder="Draft password" />
        <div ng-show="modalCtrl.form.$submitted || modalCtrl.form.password.$touched">
          <span ng-show="modalCtrl.form.password.$error.required" class="help-block">Password is missing</span>
          <span ng-show="modalCtrl.form.password.$error.maxlength" class="help-block">Password is too long</span>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="modalCtrl.setPassword()">Enter password</button>
  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="modalCtrl.cancel()">Cancel</button>
</div>