<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 state-box" ng-show="$ctrl.draftStatus.error">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;
        Unable to load draft
      </h3>
    </div>
    <div class="panel-body">
      <h4>An error has occurred and the draft was unable to be loaded. Are you sure this draft exists?</h4>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 state-box" ng-show="$ctrl.draftStatus.badConnection">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp; Connection Issues
      </h3>
    </div>
    <div class="panel-body">
      <h4>Looks like we have interwebs issues. Is your computer online right now? Take a look, then try to reload the page.</h4>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 state-box" ng-show="$ctrl.draftStatus.loading">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;
        Loading . . .
      </h3>
    </div>
    <div class="panel-body">
      <h4>Please wait, the server is powered by a potato connected to two electrodes...</h4>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 state-box" ng-show="$ctrl.draftStatus.locked">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="fa fa-lock"></i>&nbsp;&nbsp;
        Draft Locked
      </h3>
    </div>
    <div class="panel-body">
      <p><strong>{{commishName}}</strong> has locked this draft, so you must <a href="#" ng-click="$ctrl.showDraftPasswordModal()">provide a password</a> in order to see more.</p>
      <p>If your name happens to be {{commishName}} you can try <a href="login">logging in</a> to make this message go away :)</p>
    </div>
  </div>
</div>
