<div data-ng-cloak>
  <div class="container-fluid v-offset-3">
    <draft-state controller=roundCtrl
      commish-name=draft.commish_name
      draft-error=draftError
      draft-loading=draftLoading
      draft-locked=draftLocked>
    </draft-state>

    <div class="row" ng-show="draftValid && !draft.setting_up && !draftLoading">
      <div class="hidden-xs hidden-sm col-md-1">&nbsp;</div>
      <div class="col-xs-12 col-sm-6 col-md-5">
        <div class="panel panel-primary panel-no-border">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-list"></i>&nbsp;&nbsp;
              Round {{selectedDraftRound}} Picks
            </h3>
          </div>
          <div class="panel-body pick-list-display">
            <section-loading show-loading=roundPicksLoading></section-loading>
            <section-error show-error=lastError section-name="round {{selectedDraftRound}} picks"></section-error>
            <picks-by-round draft=draft
              selected-draft-round=selectedDraftRound
              picks=roundPicks
              pager-item-tally=pagerItemTally>
            </picks-by-round>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5" ng-show="draft.in_progress">
        <div class="panel panel-primary panel-no-border">
          <upcoming-picks
            next-picks=nextFivePicks
            next-loading=nextLoading
            next-error=nextError>
          </upcoming-picks>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5" ng-hide="draft.in_progress">
        <draft-information draft=draft></draft-information>
      </div>
      <div class="hidden-xs hidden-sm col-md-1">&nbsp;</div>
    </div>
  </div>
</div>

