<div data-ng-cloak>
  <div class="container-fluid v-offset-3">
    <draft-state controller=roundCtrl
      commish-name=draft.commish_name
      draft-error=draftError
      draft-loading=draftLoading
      draft-locked=draftLocked>
    </draft-state>

    <div class="row" ng-show="draftValid && !draft.setting_up && !draftLoading">
      <div class="hidden-xs hidden-sm col-md-1">&nbsp;</div>
      <div class="col-xs-12 col-sm-6 col-md-5">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-search"></i>&nbsp;&nbsp;
              Search Selected Picks
            </h3>
          </div>
          <div class="panel-body form-horizontal">
            <div class="form-group">
              <div class="col-xs-3 text-right text-right">
                <label class="control-label" for="email">
                  Keywords
                </label>
              </div>
              <div class="col-xs-9">
                <input name="keywords" ng-model="keywords" ng-model-options="{ debounce: 500 }" class="form-control" maxlength="255" placeholder="First or last name" autofocus />
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-3 text-right text-right">
                <label class="control-label" for="position">
                  Position
                </label>
              </div>
              <div class="col-xs-9">
                <select class="form-control"
                  name="position"
                  ng-options="abbreviation as position_name for (abbreviation, position_name) in draft.positions"
                  ng-model="position">
                  <option value="">(all positions)</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-3 text-right text-right">
                <label class="control-label" for="team">
                  Team
                </label>
              </div>
              <div class="col-xs-9">
                <select class="form-control"
                  name="team"
                  ng-options="abbreviation as team_name for (abbreviation, team_name) in draft.teams"
                  ng-model="team">
                  <option value="">(all teams)</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-3 text-right text-right">
                <label class="control-label" for="sort">
                  Sorting
                </label>
              </div>
              <div class="col-xs-9">
                <button class="btn btn-default btn-block" ng-click="searchCtrl.toggleSort()">
                  <span ng-show="sort == 'ASC'">
                    <i class="fa fa-sort-numeric-asc"></i>&nbsp;&nbsp;
                    Highest picks first
                  </span>
                  <span ng-hide="sort == 'ASC'">
                    <i class="fa fa-sort-numeric-desc"></i>&nbsp;&nbsp;
                    Most recent picks first
                  </span>
                </button>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-9 col-xs-offset-3">
                <button class="btn btn-default btn-block" ng-click="searchCtrl.clearSearchCriteria()">
                  Clear
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5">
        <div class="panel panel-primary panel-no-border">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-th-list"></i>&nbsp;&nbsp;
              Matching Picks
            </h3>
          </div>
          <div class="panel-body" dw-loading="load_search_picks" dw-loading-options="{text: 'Loading matching picks...'}">
            <!-- <section-loading show-loading=searchLoading></section-loading> -->
            <section-error show-error=searchError section-name="search picks"></section-error>
            <div class="row pick-list-display" ng-repeat="pick in searchResults">
              <pick-display draft=draft pick=pick></pick-display>
            </div>
            <h4 ng-hide="searchCtrl.hasSearchItems()">
              Enter a few player name keywords, select a team or a position to search for picks in the search box to find picks.
            </h4>
            <h4 ng-show="searchCtrl.hasSearchItems() && searchResults.length == 0">
              No picks were found matching that criteria.
            </h4>
          </div>
        </div>
      </div>
      <div class="hidden-xs hidden-sm col-md-1">&nbsp;</div>
    </div>
  </div>
</div>

