<div data-ng-cloak>
  <div class="container-fluid">
    <div class="row">
      <div class="hidden-xs hidden-sm col-md-1 col-lg-2">&nbsp;</div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
        <h2>Manage Autocomplete Data</h2>
        <p>Keep your PHP draft installation fresh by uploading the newest player data CSV files.</p>
        <p>See the project's README for more details on how to perform this maintenance task.</p>
      </div>
      <div class="hidden-xs hidden-sm col-md-1 col-lg-2">&nbsp;</div>
    </div>
    <div class="row">
      <div class="hidden-xs hidden-sm col-md-1 col-lg-2">&nbsp;</div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 form-horizontal">
        <form class="form-horizontal" name="proPlayerCtrl.form">
          <div class="row">
            <div class="col-xs-12 v-offset-2">
              <div class="form-group">
                <label class="col-xs-12 col-sm-3 control-label" for="sport">
                  Sport
                </label>
                <div class="col-xs-12 col-sm-8">
                  <div class="radio" ng-repeat="(key, value) in proPlayerCtrl.sports">
                    <label>
                      <input type="radio" ng-model="proPlayerCtrl.sport" value="{{key}}" name="{{key}}" />
                      {{value}}
                    </label>
                  </div>
                  <div ng-show="proPlayerCtrl.form.$submitted || proPlayerCtrl.form.sport.$touched">
                    <span ng-show="proPlayerCtrl.form.sport.$error.required" class="help-block">Sport is missing</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 v-offset-2">
              <div class="form-group">
                <label class="col-xs-12 col-sm-3 control-label" for="sport">
                  CSV Player Data File
                </label>
                <div class="col-xs-12 col-sm-8">
                  <input type="file" ngf-select ng-model="upload.csvFile" name="csvFile" accept=".csv" ngf-max-size="768KB" required>
                  <div ng-show="proPlayerCtrl.form.$submitted || proPlayerCtrl.form.csvFile.$touched">
                    <span ng-show="proPlayerCtrl.form.csvFile.$error.required" class="help-block">Player data is missing</span>
                    <span ng-show="proPlayerCtrl.form.csvFile.$error.maxSize">File too large</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" ng-show="proPlayerCtrl.uploadInProgress">
            <div class="col-xs-8 col-xs-offset-2">
              <em><strong>Uploading. . .</strong></em><br/>
              <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{proPlayerCtrl.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{proPlayerCtrl.progress}}%"></div>
              </div>
            </div>
          </div>
          <div class="row" ng-hide="proPlayerCtrl.uploadInProgress">
            <div class="col-xs-4 col-xs-offset-4 text-center v-offset-2">
              <button type="submit" ng-disable="proPlayerCtrl.uploadInProgress" class="btn btn-primary btn-block" ng-click="proPlayerCtrl.submitClicked()" ng-submit="proPlayerCtrl.submitClicked()">
                <i class="fa fa-upload"></i>&nbsp;&nbsp;
                Upload Player Data
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="hidden-xs hidden-sm col-md-1 col-lg-2">&nbsp;</div>
    </div>
  </div>
</div>

