<div data-ng-cloak>
  <div class="container-fluid">
    <div class="row">
      <div class="hidden-xs hidden-sm col-md-1 col-lg-2">&nbsp;</div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
        <h2>Manage Draft Stats</h2>
      </div>
      <div class="hidden-xs hidden-sm col-md-1 col-lg-2">&nbsp;</div>
    </div>
    <div class="row">
      <div class="hidden-xs hidden-sm col-md-1 col-lg-2">&nbsp;</div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
        <table datatable="ng" class="table table-striped table-bordered" dt-options="regenerateCtrl.dtOptions" dt-column-defs="regenerateCtrl.dtColumnDefs">
          <thead>
            <tr>
              <th>League Name</th>
              <th>Sport</th>
              <th>Commissioner</th>
              <th>When Generated</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="draft in regenerateCtrl.drafts">
              <td>
                <strong><a href="draft/{{::draft.draft_id}}">{{draft.draft_name}}</a></strong>
              </td>
              <td>{{draft.draft_sport}}</td>
              <td>{{draft.commish_name}}</td>
              <td>
                <span ng-show="draft.draft_stats_generated != null">
                  {{draft.draft_stats_generated | amDateFormat:'MMMM D, YYYY'}}
                  (<a href="draft/{{draft.draft_id}}/stats">view</a>)
                </span>
                <span ng-show="draft.draft_stats_generated == null">
                  Never
                </span>
              </td>
              <td>
                <button class="btn btn-success" ng-click="regenerateCtrl.regenerateStats(draft.draft_id)"><i class="fa fa-bar-chart"></i>&nbsp;Generate Stats</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="hidden-xs hidden-sm col-md-1 col-lg-2">&nbsp;</div>
    </div>
  </div>
</div>

