<div data-ng-cloak>
  <div class="container-fluid v-offset-3">
    <draft-state controller=editPickCtrl
      commish-name=draft.commish_name
      draft-error=draftError
      draft-loading=draftLoading
      draft-locked=draftLocked>
    </draft-state>

    <div class="row" ng-show="draftValid && draft.in_progress && editPickCtrl.showPickSelection">
      <div class="hidden-xs hidden-sm col-md-1">&nbsp;</div>
      <div class="col-xs-12 col-sm-9 col-sm-offset-2 col-md-7 col-md-offset-2">
        <div class="panel panel-primary panel-no-border">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-pencil"></i>&nbsp;&nbsp;
              Edit Pick &ndash; Round {{selectedDraftRound}} Picks
            </h3>
          </div>
          <div class="panel-body">
            <h4>Find the pick you wish to edit by round and hit the pencil icon to pull it up, and then you can make your changes.</h4>
            <div class="row">
              <div class="col-xs-12">
                <uib-pager 
                  total-items="pagerItemTally"
                  max-size="5"
                  class="round-pager"
                  ng-model="selectedDraftRound"
                  rotate="false">
                </pager>
              </div>
            </div>
            <div class="row" ng-repeat="pick in roundPicks" ng-show="roundHasPicks">
              <div class="col-xs-10 pick-list-display">
                <pick-display draft=draft pick=pick></pick-display>
              </div>
              <div class="col-xs-2">
                <div class="btn btn-block btn-primary v-offset-3" ng-click="editPickCtrl.selectEditPick(pick)">
                  <i class="fa fa-pencil fa-2x"></i>
                </div>
              </div>
            </div>
            <div class="row" ng-hide="roundHasPicks">
              <div class="col-xs-12 text-center">
              <h3>Round {{selectedDraftRound}} currently doesn't have any Picks.
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="hidden-xs hidden-sm col-md-1">&nbsp;</div>
    </div>
<!--  -->
    <div class="row" ng-show="draftValid && draft.in_progress && !editPickCtrl.showPickSelection">
      <div class="hidden-xs hidden-sm col-md-1">&nbsp;</div>
      <div class="col-xs-12 col-sm-9 col-sm-offset-2 col-md-7 col-md-offset-2">
        <div class="panel panel-primary panel-no-border">
          <commish-pick-edit
            draft=draft
            current-pick=currentPick
            pristine-pick=pristineCurrentPick
            positions=draft.positions
            teams=draft.teams
            manual-entry=manualEntry
            edit-in-progress=editPickCtrl.addInProgress
            pick-action="editPickCtrl._savePick()"
            pick-action-text="Update pick"
            pick-icon="fa-floppy-o">
          </commish-pick-edit>
        </div>
      </div>
      <div class="hidden-xs hidden-sm col-md-1">&nbsp;</div>
    </div>
  </div>
</div>