<div data-ng-cloak>
  <div class="container-fluid">
    <div class="row">
      <div class="ol-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2>Pick Timers</h2>
        <p class="text-justify">Know someone who's notoriously slow at making their pick? Set some pick timers!</p>
        <p class="text-justify">With pick timers, everyone knows how much time they have to work with, and might pick faster with the added peer pressure.</p>
        <p class="text-justify">The timers are soft timers - so only a sound plays when time runs out. You're still free to make them draft the worst player available as a penalty :)</p>
        <p class="text-justify">Not sure where to start? <a href="#" ng-click="pickTimerCtrl.setSuggestedRoundTimes()"><strong>Try the default timers suggested by PHP Draft!</strong></a></p>
      </div>
    </div>
    <div class="row text-center">
      <section-loading show-loading=pickTimerCtrl.draftLoading></section-loading>
      <section-error show-error=pickTimerCtrl.draftError section-name="draft defaults"></section-error>
      <div ng-hide="pickTimerCtrl.draftLoading || pickTimerCtrl.draftError"class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <form name="pickTimerCtrl.form" novalidate>
          <div class="form-horizontal display-only-form">
            <div class="form-group">
              <label class="col-xs-12 col-sm-4 control-label" for="roundTimesEnabled">
                Enable Pick Timers
              </label>
              <div class="col-xs-12 col-sm-4">
                <toggle-switch name="roundTimesEnabled" id="roundTimesEnabled" ng-model="roundTimesEnabled"></toggle-switch>
              </div>
              <div class="hidden-xs col-sm-1 col-sm-offset-3 text-center text-info">
                <i class="fa fa-info-circle" tooltip="Enabling this feature will put a countdown timer on the draft board for all to see. Tell us how long each pick should take below." tooltip-trigger="mouseenter"  tooltip-append-to-body="true"></i>
              </div>
            </div>
            <div class="form-group" ng-show="roundTimesEnabled">
              <label class="col-xs-12 col-sm-4 control-label" for="useStaticTime">
                One Timer for All Rounds
              </label>
              <div class="col-xs-12 col-sm-4">
                <toggle-switch name="useStaticTime" id="useStaticTime" ng-model="useStaticTime"></toggle-switch>
              </div>
              <div class="hidden-xs col-sm-1 col-sm-offset-3 text-center text-info">
                <i class="fa fa-info-circle" tooltip="One time to rule them all? Use this to define one time that gets used for every round." tooltip-trigger="mouseenter"  tooltip-append-to-body="true"></i>
              </div>
            </div>
            <div class="form-group" ng-show="roundTimesEnabled">
              <label class="col-xs-12 col-sm-4 control-label" for="useStaticTime">
                Max Draft Length (estimated):
              </label>
              <div class="col-xs-12 col-sm-4">
                <strong>{{ totalDraftingTime | preciseHumanizedSeconds }}</strong>
              </div>
              <div class="hidden-xs col-sm-1 col-sm-offset-3 text-center text-info">
                <i class="fa fa-info-circle" tooltip="How much time is that? This is if each and every pick took the full pick time allotment - usage obviously varies." tooltip-trigger="mouseenter"  tooltip-append-to-body="true"></i>
              </div>
            </div>
            <div class="form-group" ng-show="roundTimesEnabled">
              <table class="table table-striped table-hover">
                <thead>
                  <th>Round</th>
                  <th>Timer</th>
                </thead>
                <tbody>
                  <tr ng-repeat="timer in pickTimers" ng-hide="!$first && useStaticTime">
                    <td ng-show="$first && useStaticTime">(all)</td><td ng-hide="($first && useStaticTime)">{{timer.draft_round}}</td>
                    <td>
                      picks will be
                      <input ng-model="timer.minutes" class="timer-minutes" type="number" min="0" max="15" maxlength="2" />&nbsp; minutes and 
                      <input ng-model="timer.seconds" class="timer-seconds" type="number" min="0" max="59" maxlength="2" step="15" />&nbsp; seconds long
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-offset-3 text-center v-offset-2">
                <button type="submit" class="btn btn-primary btn-large btn-block" ng-click="pickTimerCtrl.submitClicked()" ng-submit="pickTimerCtrl.submitClicked()" ng-disabled="pickTimerCtrl.timerFormIsInvalid()">
                  <i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Save Timers
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

