<nav class="navbar navbar-default" ng-hide="navigationHidden" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand main-brand" href="home">
      <span class="hidden-sm hidden-md hidden-lg">PHP DRAFT</span>
      <img class="hidden-xs" src="images/text_logo.png" alt="PHP Draft" />
    </a>
  </div>
  <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
    <ul class="nav navbar-nav">
      <li uib-dropdown>
        <a href="#" id="draftDropdown" class="dropdown-toggle" uib-dropdown-toggle role="button" aria-expanded="false">
          <i class="fa fa-sitemap"></i>&nbsp;&nbsp;
          Leagues
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="draftDropdown">
          <li>
            <a href="home" ng-click="navCollapsed = !navCollapsed">
              <i class="fa fa-table"></i>
              &nbsp;All Leagues
            </a>
          </li>
          <li>
            <a href="by-commish" ng-click="navCollapsed = !navCollapsed">
              <i class="fa fa-users"></i>
              &nbsp;Leagues by Commissioner
            </a>
          </li>
          <li ng-show="$ctrl.isAuthenticated()">
            <a href="#" ng-click="navCollapsed = !navCollapsed">
              <i class="fa fa-plus"></i>
              &nbsp;Add New League
            </a>
          </li>
        </ul>
      </li>
      <li ng-show="$ctrl.isAuthenticated()">
        <a href="commish/draft/create" ng-click="navCollapsed = !navCollapsed">
          <i class="fa fa-plus"></i>&nbsp;&nbsp;
          New League
        </a>
      </li>
      <li ng-show="$ctrl.isAdmin()" uib-dropdown>
        <a href id="adminDropdown" class="dropdown-toggle" uib-dropdown-toggle role="button" aria-expanded="false">
          <i class="fa fa-unlock"></i>&nbsp;&nbsp;
            Admin Stuff
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="adminDropdown">
          <li>
            <a href="admin/users" ng-click="navCollapsed = !navCollapsed">
            <i class="fa fa-users"></i>
            &nbsp;Users
            </a>
          </li>
          <li>
            <a href="admin/proplayers" ng-click="navCollapsed = !navCollapsed">
              <i class="fa fa-cog"></i>
              &nbsp;Player Data
            </a>
          </li>
          <li>
            <a href="admin/stats" ng-click="navCollapsed = !navCollapsed">
              <i class="fa fa-bar-chart"></i>
              &nbsp;Draft Stats
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right navbar-form">
      <li ng-hide="$ctrl.isAuthenticated()">
        <a class="btn btn-primary" role="button" href="login">
          Commissioner Login&nbsp;
          <i class="fa fa-sign-in"></i>
        </a>
      </li>
      <li ng-show="$ctrl.isAuthenticated()">
        <a class="btn btn-primary" role="button" ng-click="$ctrl.logOut()">
          Log Out&nbsp;
          <i class="fa fa-sign-out"></i>
        </a>
      </li>
    </ul>
    <p ng-show="$ctrl.isAuthenticated()" class="navbar-text navbar-right hidden-sm"><strong><a href="profile">{{$ctrl.authenticatedName()}}</a></strong> logged in</p>
  </div>
</nav>

<phpd-draft-nav-bar draft="$ctrl.draft" status="$ctrl.status"></phpd-draft-nav-bar>
