<section-loading show-loading=commishManagersCtrl.commishManagersLoading></section-loading>
<ul class="draft_order row" slip-list
  ng-show="commishManagersCtrl.editableManagers.length > 0"
  slip-reorder="commishManagersCtrl.reorderManagers($event, $spliceIndex, $originalIndex)"
  slip-before-swipe="commishManagersCtrl.beforeSwipe($event)">
  <li class="col-xs-12 instant" ng-repeat="manager in commishManagersCtrl.editableManagers"
      dnd-moved="commishManagersCtrl.editableManagers.splice($index, 1)"
      dnd-draggable="manager"
      dnd-effect-allowed="move">
      <div class="row">
        <h2 class="col-xs-3 order_number"><strong>{{manager.draft_order | ordinal}}</strong></h2>
        <h3 class="col-xs-6 manager_name" ng-hide="manager.isBeingEdited">{{manager.manager_name}}</h3>
        <h3 class="col-xs-6 manager_name edit" ng-show="manager.isBeingEdited">
          <input class="form-control" ng-model="commishManagersCtrl.editableManagers[$index].manager_name" ng-enter="commishManagersCtrl.saveManager($index)" />
        </h3>
        <h3 class="col-xs-3 action_items">
          <i class="fa fa-trash-o pull-right" alt="Delete Manager" ng-disabled="commishManagersCtrl.isEditActive" ng-click="commishManagersCtrl.deleteManager($index)"></i>
          <i class="fa fa-pencil pull-right" alt="Edit Manager" ng-disabled="commishManagersCtrl.isEditActive" ng-hide="manager.isBeingEdited" ng-click="commishManagersCtrl.enableManagerEdit($index)"></i>
          <i class="fa fa-times pull-right" alt="Cancel" ng-show="!manager.managerSaving && manager.isBeingEdited" ng-click="commishManagersCtrl.cancelManagerEdit($index)"></i>
          <i class="fa fa-floppy-o pull-right" alt="Save" ng-show="!manager.managerSaving && manager.isBeingEdited" ng-click="commishManagersCtrl.saveManager($index)"></i>
          <i class="fa fa-spinner fa-spin" alt="Saving..." ng-show="manager.managerSaving" disabled="disabled"></i>
        </h3>
      </div>
  </li>
</ul>
<div class="row" ng-show="commishManagersCtrl.editableManagers.length > 0">
  <div class="col-xs-8 col-xs-offset-2">
    <button class="btn btn-block btn-primary" ng-click="commishManagersCtrl.openAddManagerModal()">
      <i class="fa fa-plus"></i>&nbsp;&nbsp;
      Add Managers
    </button>
  </div>
</div>
<div class="list-group-item" ng-show="commishManagersCtrl.editableManagers.length == 0">
  <h3>There are no managers in your league right now.</h3>
  <h4><strong><a href="#" ng-click="commishManagersCtrl.openAddManagerModal()">Go ahead and add some.</a></strong></h4>
</div>