<section-loading show-loading=$ctrl.commishManagersLoading></section-loading>
<div class="row" ng-show="$ctrl.showCountDown">
  <h1 class="text-center">{{$ctrl.countDown}}&#8230;</h1>
</div>
<ul class="draft_order row" slip-list
  ng-show="$ctrl.editableManagers.length > 0"
  ng-class="$ctrl.randomizeInProgress ? 'randomization' : ''"
  slip-reorder="$ctrl.reorderManagers($event, $spliceIndex, $originalIndex)"
  slip-before-swipe="$ctrl.beforeSwipe($event)"
  slip-before-wait="$ctrl.beforeWait($event)"
  dw-loading="saving_order"
  dw-loading-options="{text: 'Saving draft order...'}">
  <li class="col-xs-12" ng-repeat="manager in $ctrl.editableManagers"
      dnd-moved="$ctrl.editableManagers.splice($index, 1)"
      dnd-draggable="manager"
      dnd-effect-allowed="move"
      ng-show="manager.shown">
      <div class="row">
        <h2 class="col-xs-3 order_number"><strong>{{manager.draft_order | ordinal}}</strong></h2>
        <h3 class="col-xs-6 manager_name" ng-hide="manager.isBeingEdited">{{manager.manager_name}}</h3>
        <h3 class="col-xs-6 manager_name edit" ng-show="manager.isBeingEdited">
          <input class="form-control" ng-model="$ctrl.editableManagers[$index].manager_name" ng-enter="$ctrl.saveManager($index)" />
        </h3>
        <h3 class="col-xs-3 action_items">
          <i class="fa fa-trash-o pull-right" alt="Delete Manager" ng-disabled="$ctrl.isEditActive" ng-click="$ctrl.deleteManager($index)"></i>
          <i class="fa fa-pencil pull-right" alt="Edit Manager" ng-disabled="$ctrl.isEditActive" ng-hide="manager.isBeingEdited" ng-click="$ctrl.enableManagerEdit($index)"></i>
          <i class="fa fa-times pull-right" alt="Cancel" ng-show="!manager.managerSaving && manager.isBeingEdited" ng-click="$ctrl.cancelManagerEdit($index)"></i>
          <i class="fa fa-floppy-o pull-right" alt="Save" ng-show="!manager.managerSaving && manager.isBeingEdited" ng-click="$ctrl.saveManager($index)"></i>
          <i class="fa fa-spinner fa-spin" alt="Saving..." ng-show="manager.managerSaving" disabled="disabled"></i>
        </h3>
      </div>
  </li>
</ul>
<div class="row" ng-show="$ctrl.editableManagers.length > 0 && !$ctrl.showCountDown && !$ctrl.randomizeInProgress">
  <div class="col-xs-6">
    <button class="btn btn-block btn-info" ng-click="$ctrl.randomizeDraftOrder()">
      <i class="fa fa-random"></i>&nbsp;&nbsp;
      Randomize Order
    </button>
  </div>
  <div class="col-xs-6">
    <button class="btn btn-block btn-success" ng-click="$ctrl.openAddManagerModal()">
      <i class="fa fa-plus"></i>&nbsp;&nbsp;
      Add Managers
    </button>
  </div>
</div>
<div class="row" ng-show="$ctrl.editableManagers.length > 0 && !$ctrl.showCountDown && !$ctrl.randomizeInProgress">

</div>
<div class="list-group-item" ng-show="$ctrl.editableManagers.length == 0">
  <h3>There are no managers in your league right now.</h3>
  <h4><strong><a href="#" ng-click="$ctrl.openAddManagerModal()">Go ahead and add some.</a></strong></h4>
</div>
