<div class="row" ng-show="status.valid && draft.setting_up">
  <div class="hidden-xs hidden-sm col-md-1">&nbsp;</div>
  <div class="col-xs-12 col-sm-6 col-md-5">
    <phpd-commish-actions ng-if="draft.commish_editable"></phpd-commish-actions>
    <phpd-draft-information draft="draft" status="status"></phpd-draft-information>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-5">
    <div class="panel panel-primary panel-no-border">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-sort-amount-asc"></i>&nbsp;&nbsp;
          Draft Order
        </h3>
      </div>
      <div class="panel-body" ng-hide="draft.commish_editable">
        <div class="list-group draft_order">
          <div class="list-group-item" ng-repeat="manager in managers">
            <h2 class="order_number"><strong>{{manager.draft_order | ordinal}}</strong></h2>
            <h3 class="manager_name">{{manager.manager_name}}</h3>
          </div>
          <div class="list-group-item" ng-show="managers.length == 0">
            <h3><strong>{{draft.commish_name}}</strong> has not added any managers yet.</h3>
          </div>
        </div>
      </div>
      <div class="panel-body" ng-show="draft.commish_editable">
        <phpd-commish-managers draft="draft"></phpd-commish-managers>
      </div>
    </div>
  </div>
  <div class="hidden-xs hidden-sm col-md-1">&nbsp;</div>
</div>
