<div data-ng-cloak>
  <!-- TODO: Add affix code to this puppy -->
  <div class="board-header-wrapper">
    <div class="navbar-draft-board hidden-xs" ng-show="draftValid && draft.in_progress" affix="top">
      <div class="container-fluid">
        <div class="row pick-list-display">
          <div class="col-sm-1 current-pick">
            Current Pick
          </div>
          <div class="col-sm-3">
            <pick-display draft=draft pick=currentPick></pick-display>
          </div>
          <div class="col-sm-4 enabled-pick-timer" ng-show="timerEnabled && !timesUp">
            Timers enabled. To be coded.
          </div>
          <div class="col-sm-4 pick-timer-up" ng-show="timerEnabled && timesUp">
            Time's up! Everyone boo {{currentPick.manager_name}}!
          </div>
          <div class="col-sm-4 disabled-pick-timer" ng-hide="timerEnabled">
            Pick timers disabled
          </div>
          <div class="col-sm-1 previous-pick">
            Last Pick
          </div>
          <div class="col-sm-3">
            <pick-display draft=draft pick=previousPick></pick-display>
          </div>
        </div>
      </div>
    </div>
  </div>

  <draft-state controller=boardCtrl
    commish-name=draft.commish_name
    draft-error=draftError
    draft-loading=draftLoading
    draft-locked=draftLocked>
  </draft-state>

  <div id="draft-board-container">
    <div id="draft-board" ng-style="{width: boardCtrl.calculatedBoardWidth}">
      <div class="round" ng-repeat="round in pickRounds">
        <div class="round-number">
          {{$index + 1}}
        </div>
        <div class="round-display" ng-repeat="pick in round">
          <div class="pick selected pick{{pick.position}}" ng-show="pick.selected">
            <span class="pick-number">{{pick.player_pick}}</span>
            <span class="first-name">{{pick.first_name}}</span>
            <span class="last-name">{{pick.last_name}}</span>
            <span class="manager">{{pick.manager_name}}</span>
            <span class="position">{{draft.positions[pick.position]}} &ndash; {{pick.team}}</span>
          </div>
          <div class="pick unselected" ng-hide="pick.selected" ng-class="(pick.on_the_clock ? ' active' : '')">
            <span class="pick-number">{{pick.player_pick | ordinal}}</span>
            <span class="manager">{{pick.manager_name}}</span>
            <div class="on-clock" ng-show="pick.on_the_clock"><i class="fa fa-clock-o"></i>&nbsp;On the clock</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

