<div data-ng-cloak>
  <!-- TODO: Add affix code to this puppy -->
  <nav class="navbar navbar-draft-board navbar-default" ng-show="draftValid">
    <div class="container-fluid">
      <div class="row pick-list-display">
        <div class="col-sm-1">
          Current<br/>
          Pick
        </div>
        <div class="col-sm-4">
          <pick-display draft=draft pick=currentPick></pick-display>
        </div>
        <div class="col-sm-2" ng-show="timerEnabled">
          Timers enabled. To be coded.
        </div>
        <div class="col-sm-1">
          Last<br/>
          Pick
        </div>
        <div class="col-sm-4">
          <pick-display draft=draft pick=previousPick></pick-display>
        </div>
      </div>
    </div>
  </nav>

  <draft-state controller=boardCtrl
    commish-name=draft.commish_name
    draft-error=draftError
    draft-loading=draftLoading
    draft-locked=draftLocked>
  </draft-state>

  <div class="draft-board" ng-repeat="round in pickRounds">
    <div class="round">
      <div class="round-number">
        {{$index + 1}}
      </div>
      <div class="pick-list-display" ng-repeat="pick in round">
        <div class="pick {{pick.position}}" ng-show="pick.selected">
          <span class="pick-number">{{pick.player_pick}}</span>
          <span class="first-name">{{pick.first_name}}</span>
          <span class="last-name">{{pick.last_name}}</span>
          <span class="manager">{{pick.manager_name}}</span>
          <span class="position">{{pick.position}}</span>
          <span class="team">{{pick.team}}</span>
        </div>
        <div class="pick unselected" ng-hide="pick.selected" ng-class="(pick.on_the_clock ? ' active' : '')">
          <span class="pick-number">{{pick.player_pick | ordinal}}</span>
          <span class="manager">{{pick.manager_name}}</span>
          <div class="on-clock" ng-show="pick.on_the_clock"><i class="fa fa-clock-o"></i>&nbsp;On the clock</div>
        </div>
      </div>
    </div>
  </div>
</div>

