<table st-table="$ctrl.displayedDrafts" st-set-filter="customSmartTableFilter" st-safe-src="$ctrl.drafts"
  phpd-persist-table-state="draftTableState" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>
        <input st-search="{{$ctrl.draft_name}}" class="form-control" placeholder="Search Leagues..." type="text" />
      </th>
      <th>
        <phpd-distinct-dropdown list-items="$ctrl.sports" row-property-name="draft_sport" label-type="sport"
          use-value-display="false" table-state-handle="draftTableState">
        </phpd-distinct-dropdown>
      </th>
      <th colspan="2" class="hidden-xs hidden-sm visible-md visible-lg">
        <phpd-distinct-typeahead table-state-handle="draftTableState" row-property-name="commish_id">
        </phpd-distinct-typeahead>
      </th>
      <th class="hidden-xs visible-sm hidden-md hidden-lg">
        <phpd-distinct-typeahead table-state-handle="draftTableState" row-property-name="commish_id">
        </phpd-distinct-typeahead>
      </th>
      <th>
        <phpd-distinct-dropdown list-items="$ctrl.statuses" row-property-name="draft_status" label-type="status"
          use-value-display="true" table-state-handle="draftTableState">
        </phpd-distinct-dropdown>
      </th>
    </tr>
    <tr>
      <th st-sort="draft_name" class="sortable col-xs-5">
        <phpd-sort-icons></phpd-sort-icons>
        League Name
      </th>
      <th st-sort="draft_sport" class="sortable col-xs-1">
        <phpd-sort-icons></phpd-sort-icons>
        Sport
      </th>
      <th st-sort="commish_name" class="sortable col-sm-3 hidden-xs">
        <phpd-sort-icons></phpd-sort-icons>
        Commissioner
      </th>
      <th st-sort-default="true" class="hidden-xs hidden-sm col-sm-2 sortable"
        class="sortable">
        <phpd-sort-icons></phpd-sort-icons>
        Created
      </th>
      <th st-sort="$ctrl.getters.status" style="width: 50px;" class="sortable col-xs-1">
        <phpd-sort-icons></phpd-sort-icons>
        Status
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="draft in $ctrl.displayedDrafts">
      <td>
        <i ng-hide="::draft.draft_visible" class="fa fa-lock" alt="Locked"
          title="This draft is password protected!"></i>&nbsp;
        <strong><a href="draft/{{::draft.draft_id}}">{{::draft.draft_name}}</a></strong>
      </td>
      <td>
        <phpd-draft-label label-type="sport" label-identifier="{{::draft.draft_sport}}"
          label-display="{{::draft.draft_sport}}"></phpd-draft-label>
      </td>
      <td class="hidden-xs">{{::draft.commish_name}}</td>
      <td class="hidden-xs hidden-sm">
        {{::draft.draft_create_time | amParse: 'YYYY-MM-DD HH:mm:ss UTC' | amDateFormat:'MMMM D, YYYY'}}</td>
      <td class="text-center">
        <phpd-draft-label label-type="status" label-identifier="{{::draft.draft_status}}"
          label-display="{{::draft.display_status}}"></phpd-draft-label>
      </td>
    </tr>
    <tr ng-if="$ctrl.displayedDrafts.length == 0">
      <td colspan="5" class="text-center">
        <h3>No drafts here, chief.</h3>
        <p ng-if="$ctrl.isAuthenticated"><strong>Maybe reset some search filters, or better yet... <a
              href="commish/draft/create">Create your own draft!</a></strong></p>
        <p><phpd-table-sort-reset-button table-state-handle="draftTableState"></phpd-table-sort-reset-button></p>
      </td>
    </tr>
  </tbody>
  <tfoot ng-show="$ctrl.showPaging">
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="$ctrl.itemsByPage" st-displayed-pages="7"></div>
      </td>
    </tr>
  </tfoot>
</table>