<div data-ng-cloak>
  <div class="container-fluid">
    <div class="row">
      <div class="hidden-xs hidden-sm col-md-1 col-lg-2">&nbsp;</div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
        <h2 class="text-center">Welcome to Hoot Draft!</h2>
        <p class="text-center"><strong>Aw yeah!</strong> Time to draft a real beauty of a team (or see what kinda clunker Kevin put together. No one takes a kicker that early, Kevin!)</p>
        <p class="text-center">Use the filters along the top to help find the league you&apos;re looking for. Or just start randomly hitting keys, maybe you&apos;ll get lucky?</p>
      </div>
      <div class="hidden-xs hidden-sm col-md-1 col-lg-2">&nbsp;</div>
    </div>
    <div class="row">
      <div class="hidden-xs hidden-sm col-md-1 col-lg-2">&nbsp;</div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
        <section-loading show-loading=draftTableLoading></section-loading>
        <phpd-draft-table drafts="$ctrl.drafts" items-by-page="15"></phpd-draft-table>
      </div>
      <div class="hidden-xs hidden-sm col-md-1 col-lg-2">&nbsp;</div>
    </div>
  </div>
</div>

