<div ng-if="$ctrl.pick.selected" ng-class="$ctrl.pick.chosenAsset ? 'pick col-xs-12 pick' + $ctrl.pick.position + ' chosenAsset' : 'pick col-xs-12 pick' + $ctrl.pick.position">
  <div class="pick-data col-xs-2 col-sm-2 col-md-3 col-lg-3">
    <div class="hidden-md hidden-lg pick-number"><small>#</small>{{$ctrl.pick.player_pick}}</div>
    <div class="hidden-md hidden-lg round-number">Rd {{$ctrl.pick.player_round}}</div>
    <div class="hidden-xs hidden-sm pick-number"><small>Pick #</small> {{$ctrl.pick.player_pick}}</div>
    <div class="hidden-xs hidden-sm round-number"><small>Round</small> {{$ctrl.pick.player_round}}</div>
  </div>
  <div class="player-data col-xs-10 col-sm-10 col-md-9 col-lg-9">
    <div class="visible-xs hidden-sm hidden-md hidden-lg first-name-xs">{{$ctrl.pick.first_name}}</div>
    <div class="visible-xs hidden-sm hidden-md hidden-lg last-name-xs">{{$ctrl.pick.last_name}}</div>
    <div class="hidden-xs visible-sm visible-md visible-lg player-name-sm">{{$ctrl.pick.first_name}} {{$ctrl.pick.last_name}}</div>
    <div class="sports-data visible-xs visible-sm visible-md hidden-lg">{{$ctrl.pick.position}} &ndash; {{$ctrl.pick.team}}</div>
    <div class="sports-data hidden-xs hidden-sm hidden-md visible-lg">{{$ctrl.draft.positions[$ctrl.pick.position]}} &ndash; {{$ctrl.draft.historical_teams[$ctrl.pick.team]}}</div>
    <div class="manager">{{$ctrl.pick.manager_name}}</div>
  </div>
</div>
<div class="pick col-xs-12 unselected" ng-if="!$ctrl.pick.selected" ng-class="($ctrl.pick.on_the_clock ? ' active' : '') + ($ctrl.pick.chosenAsset ? ' chosenAsset' : '')">
  <div class="pick-data col-xs-2 col-sm-2 col-md-3 col-lg-3">
    <div class="hidden-md hidden-lg pick-number"><small>#</small>{{$ctrl.pick.player_pick}}</div>
    <div class="hidden-md hidden-lg round-number">Rd {{$ctrl.pick.player_round}}</div>
    <div class="hidden-xs hidden-sm pick-number"><small>Pick #</small> {{$ctrl.pick.player_pick}}</div>
    <div class="hidden-xs hidden-sm round-number"><small>Round</small> {{$ctrl.pick.player_round}}</div>
  </div>
  <div class="player-data col-xs-10 col-sm-10 col-md-9 col-lg-9">
    <div class="visible-xs hidden-sm hidden-md hidden-lg manager-xs">{{$ctrl.pick.manager_name}}</div>
    <div class="hidden-xs visible-sm visible-md visible-lg manager-sm">{{$ctrl.pick.manager_name}}</div>
    <div class="on-clock" ng-show="$ctrl.pick.on_the_clock"><i class="fa fa-clock-o"></i>&nbsp;On the clock</div>
  </div>
</div>
