<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1 alert alert-success" ng-show="donationCtrl.showDonationPrompt">
    <strong><i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;Thanks for using PHP Draft!</strong>
    &nbsp;
    If you enjoyed using this draft software and wish to say thanks, <strong><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=U6AZ6QENWDWPE" target="_blank">please consider donating any amount you feel like</a></strong>. This software is free because I enjoy making it, and I don't expect anything back, but I use my own personal time and resources to maintain it. So if you choose to donate: <strong>Thank you!</strong> If you don't, that's OK too, I promise! <i class="fa fa-smile-o"></i> - <strong><a href="https://twitter.com/mattheworres">@mattheworres</a></strong>
    <br/><br/>

    <a class="clickable" ng-click="donationCtrl.hideDonationPrompt()">Hide this message</a>
  </div>
</div>