<nav class="navbar navbar-default navbar-fixed-bottom hidden-xs" ng-hide="footerCtrl.hideFooter()">
  <div class="container-fluid">
    <div class="col-xs-4">
      <p class="navbar-text"><a href="https://github.com/mattheworres/phpdraft">PHPDraft v2.0.3</a></p>
    </div>
    <div class="col-xs-4 navbar-header-middle">
      <p class="navbar-text"><a href="http://gplv3.fsf.org/" target="_blank">GNU GPL3 License</a></p>
    </div>
    <div class="col-xs-4">
      <p class="navbar-text navbar-right">2010 &ndash; {{footerCtrl.date | date:'yyyy'}} by Matthew Orres</p>
    </div>
  </div>
</nav>