<nav class="navbar navbar-default" ng-hide="navigationHidden" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="home">PHP Draft</a>
  </div>
  <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
    <ul class="nav navbar-nav">
      <li dropdown>
        <a href="#" id="draftDropdown" class="dropdown-toggle" dropdown-toggle role="button" aria-expanded="false">
          <i class="fa fa-sitemap"></i>&nbsp;&nbsp;
          Leagues
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="draftDropdown">
          <li>
            <a href="home">
              <i class="fa fa-table"></i>
              &nbsp;All Leagues
            </a>
          </li>
          <li>
            <a href="by-commish">
              <i class="fa fa-users"></i>
              &nbsp;Leagues by Commissioner
            </a>
          </li>
          <li ng-show="navCtrl.isAuthenticated()">
            <a href="#">
              <i class="fa fa-plus"></i>
              &nbsp;Add New League
            </a>
          </li>
        </ul>
      </li>
      <li ng-show="navCtrl.isAuthenticated()">
        <a href="commish/draft/create">
          <i class="fa fa-plus"></i>&nbsp;&nbsp;
          New League
        </a>
      </li>
      <li ng-show="navCtrl.isAdmin()" dropdown>
        <a href id="adminDropdown" class="dropdown-toggle" dropdown-toggle role="button" aria-expanded="false">
          <i class="fa fa-unlock"></i>&nbsp;&nbsp;
            Admin Stuff
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="adminDropdown">
          <li>
            <a href="admin/users">
            <i class="fa fa-users"></i>
            &nbsp;Users
            </a>
          </li>
          <li>
            <a href="admin/proplayers">
              <i class="fa fa-cog"></i>
              &nbsp;Player Data
            </a>
          </li>
          <li>
            <a href="admin/stats">
              <i class="fa fa-bar-chart"></i>
              &nbsp;Draft Stats
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right navbar-form">
      <li ng-hide="navCtrl.isAuthenticated()">
        <a class="btn btn-primary" role="button" href="login">
          Commissioner Login&nbsp;
          <i class="fa fa-sign-in"></i>
        </a>
      </li>
      <li ng-show="navCtrl.isAuthenticated()">
        <a class="btn btn-primary" role="button" ng-click="navCtrl.logOut()">
          Log Out&nbsp;
          <i class="fa fa-sign-out"></i>
        </a>
      </li>
    </ul>
    <p ng-show="navCtrl.isAuthenticated()" class="navbar-text navbar-right hidden-sm"><strong><a href="profile">{{navCtrl.authenticatedName()}}</a></strong> logged in</p>
  </div>
</nav>

<nav class="navbar navbar-inverse navbar-draft navbar-default" ng-show="showDraftMenu" role="navigation">
  <div class="container-fluid">
    <div class="row" ng-show="draftValid">
      <div class="col-xs-12 col-sm-5 col-md-5 navbar-header-middle">
        <button type="button" class="navbar-toggle collapsed" ng-init="draftNavCollapsed = true" ng-click="draftNavCollapsed = !draftNavCollapsed" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="draft/{{draft.draft_id}}">{{draft.draft_name}}</a>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-6 navbar-header-left collapse navbar-collapse" ng-class="!draftNavCollapsed && 'in'">
        <ul class="nav navbar-nav">
          <li ng-hide="draftLocked || draft.setting_up">
            <a href="draft/{{draft.draft_id}}/board">
              <i class="fa fa-table"></i>&nbsp;&nbsp;
              Draft Board
            </a>
          </li>
          <li ng-show="!draftLocked && draft.complete">
            <a href="draft/{{draft.draft_id}}/stats">
            <i class="fa fa-bar-chart"></i>&nbsp;&nbsp;
            Stats
            </a>
          </li>
          <li dropdown ng-hide="draftLocked || draft.setting_up">
            <a href="#" id="pickDropdown" class="dropdown-toggle" dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-check-square"></i>&nbsp;&nbsp;
              Picks
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="pickDropdown">
              <li>
                <a href="draft/{{draft.draft_id}}/picks/manager">
                  <i class="fa fa-users"></i>
                  &nbsp;by Manager
                </a>
              </li>
              <li ng-show="draft.in_progress">
                <a href="draft/{{draft.draft_id}}/picks/round">
                  <i class="fa fa-list-ol"></i>
                  &nbsp;by Round
                </a>
              </li>
              <li>
                <a href="draft/{{draft.draft_id}}/trades">
                  <i class="fa fa-exchange"></i>
                  &nbsp;Trades
                </a>
              </li>
              <li>
                <a href="draft/{{draft.draft_id}}/search">
                  <i class="fa fa-search"></i>
                  &nbsp;Search
                </a>
              </li>
            </ul>
          </li>
          <li dropdown>
            <a href="#" id="commishDropdown" ng-show="draft.commish_editable" class="dropdown-toggle" dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-cogs"></i>&nbsp;&nbsp;
              Commissioner Toolbox
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="commishDropdown">
              <li ng-show="draft.setting_up">
                <a href="#" ng-click="navCtrl.showStartDraftModal()">
                  <i class="fa fa-play"></i>
                  &nbsp;Start Draft!
                </a>
              </li>
              <li ng-show="draft.in_progress">
                <a href="commish/draft/{{draft.draft_id}}/picks/add">
                  <i class="fa fa-check-square-o"></i>
                  &nbsp;Enter Picks
                </a>
              </li>
              <li ng-show="draft.in_progress">
                <a href="commish/draft/{{draft.draft_id}}/picks/edit">
                  <i class="fa fa-pencil"></i>
                  &nbsp;Edit a Pick
                </a>
              </li>
              <li ng-show="draft.in_progress">
                <a href="commish/draft/{{draft.draft_id}}/trades/add">
                  <i class="fa fa-exchange"></i>
                  &nbsp;Enter a Trade
                </a>
              </li>
              <li ng-show="!draft.complete">
                <a href="commish/draft/{{draft.draft_id}}/timers">
                  <i class="fa fa-clock-o"></i>
                  &nbsp;Setup Timers
                </a>
              </li>
              <li ng-show="!draft.complete">
                <a href="commish/draft/{{draft.draft_id}}/edit">
                  <i class="fa fa-pencil-square-o"></i>
                  &nbsp;Edit Draft
                </a>
              </li>
              <li ng-show="draft.in_progress">
                <a href="#" ng-click="navCtrl.showResetDraftModal()">
                  <i class="fa fa-warning"></i>
                  &nbsp;Reset Draft
                </a>
              </li>
              <li>
                <a href="#" ng-click="navCtrl.showDeleteDraftModal()">
                  <i class="fa fa-trash"></i>
                  &nbsp;Delete Draft
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>