<nav class="navbar navbar-default" ng-hide="navigationHidden" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">PHP Draft</a>
      <ul class="nav navbar-nav">
        <li dropdown>
          <a href="#" id="draftDropdown" class="dropdown-toggle" dropdown-toggle role="button" aria-haspopup="true" aria-expended="false" ng-click="navCtrl.changeDraftNav">
            <i class="fa fa-sitemap"></i>
            Drafts <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="draftDropdown">
            <li>
              <a href="#">
                <i class="fa fa-table"></i>
                All Drafts
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-users"></i>
                Drafts by Commissioner
              </a>
            </li>
          </ul>
        </li>
        <li>
          <form class="navbar-form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search Drafts" />
            </div>
            <button type="submit" class="btn btn-primary" ng-click="navCtrl.changeDraftNav()">Search</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-inverse navbar-draft navbar-default" ng-hide="navCtrl.draftNavHidden" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 navbar-header-left">
        <ul class="nav navbar-nav pull-right">
          <li>
            <a href="#">
              <i class="fa fa-table"></i>
              Draft Board
            </a>
          </li>
          <ul class="nav navbar-nav">
            <li dropdown>
              <a href="#" id="pickDropdown" class="dropdown-toggle" dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-check-square"></i>
                Picks <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="pickDropdown">
                <li>
                  <a href="#">
                    <i class="fa fa-users"></i>
                    by Manager
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-list-ol"></i>
                    by Round
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-exchange"></i>
                    Trades
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-search"></i>
                    Search
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </ul>
      </div>
      <div class="col-xs-4 navbar-header-middle">
        <a class="navbar-brand" href="#">Keep her in the McCutchen</a>
      </div>
      <div class="col-xs-4 navbar-header-right">
        <ul class="nav navbar-nav">
          <li dropdown>
            <a href="#" id="commishDropdown" class="dropdown-toggle" dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-cogs"></i>
              Commish Functions <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="commishDropdown">
              <li>
                <a href="#"><i class="fa fa-plus"></i>
                  Add Next Pick
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-pencil"></i>
                  Edit a Pick
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-exchange"></i>
                  Enter a Trade
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-clock-o"></i>
                  Setup Timers
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-pencil-square-o"></i>
                  Edit Draft
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>